/*CSS reset*/
*{
  box-sizing: border-box;
  margin:0;
  height:0;
  font-family:monospace;
}
/*setting css to body section*/
body{
  background-color: grey;
  min-height:100vh;
}
/*setting responsive for min-width of 480px*/
.container{
  width:80vw;
  margin:auto;
  min-height:100vh;
  background-color:whitesmoke;
}

.head{
  height:15vh;
  background-color: #24292e;
}
.head>i{
  color:whitesmoke;
  font-size:30px;
  padding:10px;
}
.head>p{
  color:whitesmoke;
  font-size:20px;
  text-align:center;
  margin-top:-25px;
}
.aside{
  width:70vw;
  margin:auto;
  height:20vh;
  background-color:#24292e;
  border-radius:10px;
  margin:15px;
}
.mainsec{
  display:flex;
  flex-direction: column;
}
.search{
  width:60vw;
  margin-left:30px;
  height:20vh;
  background-color:#24292e;
  border-radius:5px;
  color:whitesmoke;
  padding:5px;
}
.box{
  display:flex;
  flex-direction: row;
  margin-left:10px;
}
.box>div{
  width:20vw;
  height:15vh;
  background-color:#24292e;
  border-radius:5px;
  margin:15px;
}
.foot{
  width:65vw;
  height:15vh;
  margin:auto;
  background-color:#24292e;
  border-radius:5px;
  margin-left:20px;
  margin-top:110px;
}
/*setting css responsive for min-width of 768px*/
@media screen and (min-width:768px){
  .main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .aside{
    width:25vw;
    margin:auto;
    height:70vh;
    margin:20px;
  }
  .mainsec{
    display:flex;
    flex-direction: column;
  }
  .search{
    width:40vw;
    margin:20px;
  }
  .box{
    margin-left:10px;
  }
  .box>div{
    width:12vw;
    height:25vh;
    background-color:#24292e;
    border-radius:10px;
    margin:15px;
  }
  .foot{
    display:flex;
    flex-direction: column;
  }
  .foot{
    width:40vw;
    height:15vh;
    margin-top:-25vh;
    margin-left:33vw;
  }
}
